functions-framework==3.*
flask==3.*
websocket-client
requests
torch==2.1.0+cu121 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.16.0+cu121 --index-url https://download.pytorch.org/whl/cu121
xformers==0.0.22.post7 --index-url https://download.pytorch.org/whl/cu121